# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\实验室\ELK+关联分析code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
